$head-f-col: #919191;
$yellow: #ffbf4d;
$blue: #709dca;
$shadow: 0 0 10px rgb(66, 62, 62);

%header_nav_item{
    color: #fff;
    background-color: $yellow;                                    
    border-radius: 3px;
    transition: 0.5s;
}

@mixin button($butt_padding, $font-s) {
    padding: $butt_padding;
    font-size: $font-s;
    
    @extend %header_nav_item;
}